.father{
    position: relative;
}
.son1{
    position: absolute;
    left: 500px;
}
.son2{
    position: absolute;
    top: 200px;
    left: 700px;
}
.ch1{
   position: absolute;
   
}
.ch2{
    position: absolute;
    left: 50px;
    top: 50px;
}